*{
	padding:0px;
	margin:0px;
	
}

header .Menu a{
	text-align: center;
	
	padding: 5px 5px;
	border: 2px solid grey;
	width: 180px;
	border-radius: 15px;
	text-decoration: none;
	color: black;
	margin: 10px 0px 0px 0px;	
	
}

body{

	font-family: 'arial';

}

.Contenedor{
	margin: auto;
	height: 1000px;


}
.main{
	margin: auto;
	width: 30%;
	background: grey;
	min-width: 400px;

}
header{

	width: 90%;
	margin: auto;
}
header img{
	
	width: 60px;
	height: 60px;


}
header .Usuario{

float: left;

}

header .menu img{
	
	width: 30px;
	height: 30px;

}
header .menu {
	
	padding: 3% 0% 0% 85%;
	

}

.main p{
	margin:10px 50px;

}
.main a{
	display: block;
	margin:10px 50px;
	color: white;


}
.Contenedor {
	margin:5% 0%;


}
.Boton {
	margin:0% 0% 0% 70%;
}
.Editar {
	margin:0% 0% 10% 50%;
	padding: 5px 0px;
}
.main .imagen img{
	width: 100px;
	height: 100px;
	
}
.main .imagen {
	margin: 0% 0% 0% 35%;

	
}
.main .imagen a{
	margin: 0% 0% 0% 7%;

	
}
.main .mas a{
	text-align: center;
	
	padding: 0px 0px;
	border: 2px solid white;
	width: 180px;
	border-radius: 15px;
	text-decoration: none;	
	
}

textarea ,.main .mas a
{
	margin: 10px 0px 0px 50px;
	
}




