*{
	padding:0px;
	margin:0px;
	
}

*{
	padding:0px;
	margin:0px;
	
}

header{

	width: 90%;
	margin: auto;
}
header img{
	
	width: 60px;
	height: 60px;


}
header .Usuario{

float: left;

}

header .menu img{
	
	width: 30px;
	height: 30px;

}
header .menu {
	
	margin: 4% 0% 5% 85%;
	

}
.main img ,.main a {
	
	margin: 0% auto;
	display: block;
	text-align: center;
}
header .Menu a{
	text-align: center;
	
	padding: 5px 5px;
	border: 2px solid white;
	width: 180px;
	border-radius: 15px;
	text-decoration: none;
	color: black;
	margin: 10px 0px 0px 0px;	
	color: white;
	
}

.botones
{

	margin: -3% 0% 0% 85%;
	background-image:white;
	position: absolute;
	min-width: 20px;
	min-height: 20px;
	
}
.botones img
{
	width: 25px; 
	height: 25px;
}

body{

	font-family: 'arial';
	background-image: linear-gradient(to right top, #969696, #7f747f, #70525e, #5f3235, #441703);
}

.centrar
{
	width: 80%;
	margin: auto;	
}
.centrar input
{
	width: 70%;
		
}

.Proyecto input
{
	width: 55.5%;
		
}
.Contenedor{
	margin: auto;
	height: 1000px;

}
.main{
	margin: auto;
	width: 30%;
	
	min-width: 400px;
	height: 55%;
	border: 2px solid rgba(255,255,255,0.4);
}


.main p{
	margin:15px 0px 0px 2px;
	float: left;	

}
.main input,.main select
{
	margin:15px 10px;
	

}

.main a{
	display: block;
	margin:10px 50px;
	color: white;


}
.Contenedor {
	margin:5% 0%;


}
.Boton {
	margin:0% 0% 0% 70%;
}
.Editar {
	margin:0% 0% 10% 50%;
	padding: 5px 0px;
}
.main .imagen img{
	width: 100px;
	height: 100px;
	
}

.main .mas a,.main .eliminar a{
	text-align: center;
	padding: 0px 0px;
	border: 2px solid white;
	width: 180px;
	border-radius: 15px;
	text-decoration: none;	
	margin: 15px auto;
	text-align: center;
	display: block;
}

textarea 
{
	margin: 10px 0px 0px 50px;
	
}




