<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title> Pagina Web 3.0</title>
		<link rel="stylesheet" type="text/css" href="..\css\style.css">
		<link rel="stylesheet" type="text/css" href="..\css\font-awesome.min.css">
	</head>
	
	<body>
			<div id="particles-js"></div>
	
	<div class="botones">
		<div> <img id='fullscreen' onclick="windows('fullscreen')" src="..\image\descarga3.png"> </div>
		<div> <img id='minimize' onclick="windows('minimize')" src="..\image\descarga2.png"> </div>
		<div> <img id='maximize' onclick="windows('maximize')" src="..\image\descarga1.png"> </div>
		<div> <img id='close' onclick="windows('close')" src="..\image\descarga.png"> </div>
	</div>
	<header>
		
		<div class="Usuario">
		 	<img src="..\image\User_icon_BLACK-01.png">
		 	<p>Usuario</p>
		 </div>
		

	</header>

		<div class="container">
		<div class="main">
			<div class="BotonGrande">
				<div class="contenido">
					<img src="..\image\User_icon_BLACK-01.png">
					<p>Colaboradores</p>
					<a href="VentanaColaboradores.html"></a>
				</div>
			</div>
			<div class="Boton">
				<div class="contenido">
					<img src="..\image\document.png">
					<p>Proyectos</p>
					<a href="MenuProyecto.html"></a>
				</div>
			</div>
			<div class="Boton2">
				<img src="..\image\52672.png">
				<p>Configuracion</p>
			</div>
		</div>
		</div>
			<script src="http:\\code.jquery.com\jquery-latest.js"></script>
	<script src="..\js\particles.js"></script>
	<script src="..\js\particulas.js"></script>
	<script src="..\js\index.js"></script>			

	</body>

</html>
