<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="../css/login.css">
	</head>
	
	<body>
	<div class="Contenedor">
		<div class="main">
			<div class="imagen">
				<img src="../image/User_icon_BLACK-01.PNG">
			</div>
				<form action="" accept-charset="utf8">
			
				
				<label for="NombreUsuario"></label>
				<input type="text" text="Buscar Colaborador" value="Usuario" name="NombreUsuario" autofocus required width="150px"></br>
				<label for="ClaveUsuario"></label>
				<input type="password" text="Clave" value="Clave" name="Clave" ></br>
				<div class="boton">
				<a href="">Iniciar</a>
				</div>
			</form>
			<div class="OlvidoClave" >
				<a href="">Olvido su clave?</a>
			</div>
		</div>
		
	</div>
	</body>

</html>
