<html>
	<head>
		<title> Pagina Web 3.0</title>
		<link rel="stylesheet" type="text/css" href="Menu.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>
	
	<body>
	<div class="botones">
			
			<img src="image/descarga2.PNG">
			<img src="image/descarga1.PNG">
			<img src="image/descarga.PNG">

		</div>
	<header>

		<div class="Usuario">
		 	<img src="image/User_icon_BLACK-01.PNG">
		 	<p>Usuario</p>
		 </div>
		 <div class="menu">
		 <a href="Index.html">Menu</a>
		 </div>

	</header>
	<div class="main">
	
		<div class="tipo1">
			<div class="Proyecto">
			<a href="View/VentanaProyecto.html"></a>		
					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color1">
					</div>
				</div>	
				<div class="Proyecto">
					<a href="View/VentanaProyecto.html"></a>
					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color1">
					</div>
				</div>	

		</div>
		<div class="tipo2">
			<div class="Proyecto">
	<a href="View/VentanaProyecto.html"></a>
					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color2">
					</div>
				</div>
				<div class="Proyecto">

					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color2">
					</div>
				</div>

		</div>
		<div class="tipo3">
		
			<div class="Proyecto">

					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color3">
					</div>
				
				</div>
				<div class="Proyecto">

					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>

					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color3">
					</div>
				
				</div>
		</div>
		<div class="tipo4">
		
			<div class="Proyecto">

					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color4">
					</div>
					
				</div>
				<div class="Proyecto">

					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color4">
					</div>
				</div>
		</div>
		<div class="tipo5">
		
			<div class="Proyecto">

					<div class="Imagen">
						<img src="image\los_animales_en_mayor_peligro_de_extincion_375_600.JPG">

					</div>
					<div class="Nombre">
						
					<p>Nombre de Proyecto</p>
					</div>
					<div class="Texto">
						<div class=""></div><p>Colaborador</p>
						<div class=""></div><p>F. envio 20/05/18</p>
						<div class=""></div><p>F. Entrega 25/05/18</p>
						
					</div>
					<div class="Recibido">
						<div class=""></div><p>Recibido</p>
					</div>
					<div class="Color1">
					</div>
				</div>
		</div>

	</div>



	</body>

</html>
