<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="../css/VentanaColaborador.css">
	</head>
	
	<body>
	<header>
	<div class="Usuario">
	 	<img src="../image/person-icon-8.PNG">
	 	<p>Usuario</p>
	 </div>
	 <div class="Menu">
	 		<a href="../Index.html">Menu</a>
	 </div>

	</header>
	<div class="Contenedor">
		<div class="main">
			<div class="Boton">
			<a href="../View/VentanaColaboradores.html">Cerrar</a>
			</div>
			<div class="imagen">
				<img src="../image/User_icon_BLACK-01.PNG" >
				<a href="">Editar Foto</a>
			</div>
			<div class="Contenido">
				<p>Nombre</p><div class=""></div>
				<p>Email</p><div class=""></div>
				<p>Precio</p><div class=""></div>
				<p>Proyecto asignado</p><div class=""></div>
				<textarea>Anotaciones</textarea>
				<div class="mas"><a href="">Ver mas Anotaciones</a></div>
				
			</div>
				
			<div class="Editar">
				<a href="">Editar Datos</a>
			</div>
		</div>
	</div>

	</body>

</html>
