<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="../css/VentanaCrearColaborador.css">
	</head>
	
	<body>
	<header>
		<div class="Usuario">
			 <img src="../image/person-icon-8.PNG">
			 <p>Usuario</p>
		 </div>
		 <div class="Menu">
		 		<a href="../Index.html">Menu</a>
		 </div>

	</header>
	
	<div class="Contenedor">
		<div class="main">
			<div class="Boton">
				<a href="">Cerrar</a>
			</div>
			<div class="imagen">
				<img src="../image/User_icon_BLACK-01.PNG">
				<a href="">Editar foto</a>
			</div>
		<form action="" accept-charset="utf8">
			<p>Nombre</p>	
			<label for="Nombre"></label>
			<input type="text" text="Nombre"  name="Nombre" autofocus required width="150px"></br>
			<p>Tipo de colaborador</p>	
			<select name="TipoColaborador" id="TipoColaborador">
				<option value=1>Creador de contenido</option>
				<option value=2>Editor</option>
				<option value=3>Escritor</option>
				<option value=4>Locutor</option>
			</select> </br>
			<p>Email</p>
			<label for="Email"></label>
			<input type="email" text="Email"  name="Email" ></br>
			<p>Precio</p>
			<label for="Precio"></label>
			<input type="text" text="Precio"  name="Precio" ></br>
			<p>Proyecto Asignado</p>
			<label for="ProyectoAsignado"></label>
			<input type="text" text="ProyectoAsignado"  name="ProyectoAsignado"></br>
			<textarea>anotaciones</textarea>
		
			
		</form>
			<div class="mas"><a href="">Cuardar</a></div>
		</div>	
	</div>

	</body>

</html>
