<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="../css/VentanaProyecto.css">
	</head>
	
	<body>
	<header>
	<div class="Usuario">
	 	<img src="../image/User_icon_BLACK-01.PNG">
	 	<p>Usuario</p>
	 </div>
	 <div class="Menu">
	 		<a href="../Index.html">Menu</a>
	 </div>

	</header>
	<div class="Contenedor">
	<div class="chat">
		<h4>Anotaciones</h4>
		<p>Anotacion #1</p>
		<p>Anotacion #2</p>
		<p>Anotacion #3</p>
		</div>	
		<div class="main">

			<div class="from">
			<div class="Boton">
				<a href="">Cerrar</a>
			</div>
			<div class="imagen">
				<img src="../image/los_animales_en_mayor_peligro_de_extincion_375_600.JPG">
				<a href="">Editar imagen</a>
			</div>
			<div class="Contenido">
				<p>Nombre</p>
				<p>Direciones de pago</p>
				<textarea>Anotaciones</textarea>
				<div class="mas"><a href="">Ver mas anotaciones</a></div>
				<p>Colaborador asignado</p>
				<p>estado</p>
			</div>

			<div class="Editar">
				<a href="">Editar Datos</a>
			</div>
		</div>
		</div>
		
	</div>
	
	</body>

</html>
