<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="../css/VentanaNuevoProyecto.css">
	</head>
	
	<body>
	<header>
		<div class="Usuario">
		 	<img src="../image/person-icon-8.PNG">
		 	<p>Usuario</p>
		 </div>
		 <div class="Menu">
		 		<a href="../Index.html">Menu</a>
		 </div>

	</header>
	<div class="Contenedor">
		<div class="main">
			<div class="Boton">
				<a href="">Cerrar</a>
			</div>
			<div class="imagen">
				<img src="../image/document.PNG">
				<a href="">Editar foto</a>
			</div>
		<form action="" accept-charset="utf8">
			<p>Nombre</p>	
			<label for="Nombre"></label>
			<input type="text" text="Nombre"  name="Nombre" autofocus required width="150px"></br>
			<p>Direccions de pago</p>
			<label for="Direccion"></label>
			<input type="text" text="Direccion"  name="Direccion" ></br>
			<textarea>anotaciones</textarea>
			<p>Colaborador asignado</p>
			<label for="ColaboradorAsignado"></label>
			<input type="text" text="ColaboradorAsignado"  name="ColaboradorAsignado" ></br>
			<p>Estado</p>
			<label for="Estado"></label>
			<input type="text" text="Estado"  name="Estado"></br>
			
		</form>
		<div class="Boton">
				<div class="mas"><a href="">Cuardar</a></div>
		</div>
		</div>
	</div>
	</body>

</html>
